In [1]:
import pl from 'npm:nodejs-polars';
let df = pl.DataFrame({
  integer: [1, 2, 3, 4, 5],
  date: [
    new Date(2022, 1, 1, 0, 0),
    new Date(2022, 1, 2, 0, 0),
    new Date(2022, 1, 3, 0, 0),
    new Date(2022, 1, 4, 0, 0),
    new Date(2022, 1, 5, 0, 0),
  ],
  float: [4.0, 5.0, 6.0, 7.0, 8.0],
});

In [2]:
df

Object [DataFrame] {
  integer: shape: (5,)
  Series: 'integer' [f64]
  [
  	1.0
  	2.0
  	3.0
  	4.0
  	5.0
  ],
  date: shape: (5,)
  Series: 'date' [datetime[ms]]
  [
  	2022-01-31 15:00:00
  	2022-02-01 15:00:00
  	2022-02-02 15:00:00
  	2022-02-03 15:00:00
  	2022-02-04 15:00:00
  ],
  float: shape: (5,)
  Series: 'float' [f64]
  [
  	4.0
  	5.0
  	6.0
  	7.0
  	8.0
  ]
}

In [3]:
console.log(df);

{"code":-32000,"message":"Promise was collected"}:

Object [DataFrame] {
  integer: shape: (5,)
  Series: 'integer' [f64]
  [
  	1.0
  	2.0
  	3.0
  	4.0
  	5.0
  ],
  date: shape: (5,)
  Series: 'date' [datetime[ms]]
  [
  	2022-01-31 15:00:00
  	2022-02-01 15:00:00
  	2022-02-02 15:00:00
  	2022-02-03 15:00:00
  	2022-02-04 15:00:00
  ],
  float: shape: (5,)
  Series: 'float' [f64]
  [
  	4.0
  	5.0
  	6.0
  	7.0
  	8.0
  ]
}